.home {
    width: 100%;
}

// fichiers newSubject.vue & parentTopic.vue
.forum {
    border: 1px solid #CCC;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: 0 0 15px #CECECE;
    padding: 20px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
    &__title {
        border-top: 1px solid #CCC;
        padding: 10px;
    }
    &__new-topic {
        display: flex;
        flex-direction: column;
        &--field {
            & input {
                width: 100%;
                margin-bottom: 5px;
            }
            & textarea {
                width: 100%;
                resize: none;
            }
        }
    }
    &__topics {
        margin: 10px 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        & input {
            width: 100%;
            margin-bottom: 5px;
        }
        & textarea {
            width: 100%;
            resize: none;
        } 
        &--title {
            margin: 0px;
            padding: 10px 10px 5px 10px;
        }
        &--content {
            text-align: justify;
        }
        &--picture {
            min-width: 100%;
            max-width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            & img {
                max-height: 250px; /* à modififier*/
            }
        }
        &--details {
            width: 50%;
            font-size: 0.75em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            & p {
                margin: 0px;
                // margin-right: 10px;
            }
        }
    }
}