.topic {
    border: 1px solid #CCC;
    border-radius: 15px;
    background-color: #FFF;
    padding: 0 20px 20px 20px;
    width: 90%;
    margin: auto;
    &__title {
        border-bottom: 1px solid #CCC;
        padding: 10px;
        &--content {
            text-align: justify;
        }
        &--details {
            font-size: 0.75em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        & textarea {
            width: 100%;
            resize: none;
        }
    }
    &__content {
        border-bottom: 1px solid #CCC;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &--answers {
            text-align: justify;
        }
        & textarea {
            width: 100%;
            resize: none;
        }
        &--details {
            font-size: 0.75em;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__answer-area {
        margin-top: 10px;
        & textarea {
            width: 100%;
            resize: none;
        }
        &--button {
            width: 30%;
        }
    }
}