button {
    border: 2px solid #FD2D01;
    border-radius: 10px;
    color: #2c3e50;
    background-color: #FFF;
    height: 30px;
    margin: 10px;
    &:hover {
        box-shadow: 0 0 15px #CECECE;
    }
    &:active {
        background-color: #FFD7D7;
    }
}